<div id="quality" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#quality" data-slide-to="0" class="active"></li>
    <li data-target="#quality" data-slide-to="1"></li>
    <li data-target="#quality" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("/carousel/pexels1.jpg", class: "d-block w-100", id: "main-image") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("/carousel/pexels2.jpg", class: "d-block w-100", id: "main-image") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("/carousel/pexels3.jpg", class: "d-block w-100", id: "main-image") %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Third Slide</h3>
        <p>This is a description for the third slide.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#quality" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#quality" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
