<li class="nav-item dropdown" id="dropdn">
  <a class="nav-link dropfont" href="#" id="navbarDropdown" data-toggle="dropdown">
    Products
  </a>
  <ul class="dropdown-menu" id="dropdn-menu" aria-labelledby="navbarDropdown">
    <%= render 'shared/shared/showcase' %>
    <div class="dropdown-divider" style="border-color:#b8bcc0;"></div>
    <%= render 'shared/shared/workbench' %>
    <div class="dropdown-divider" style="border-color:#b8bcc0;"></div>
    <a class="dropdown-item" href="#">Something else here</a>
  </ul>
</li>

<script>
    
</script>