<li class="nav-item dropdown" id="dropdn">
  <a class="nav-link" id="dropfont" data-toggle="dropdown" href="#">
    Products
  </a>
  <ul class="dropdown-menu" id="dropdn-menu" aria-labelledby="navbarDropdown">
    <%= render 'shared/navbar/showcase' %>
    <%= render 'shared/navbar/workbench' %>
  </ul>
</li>
