<footer class="footer">
  <!--
  <div class="container">
    <div class="row" style="padding: 1.5em;">
      <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
        
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <%= link_to "Home", root_path %>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <%= link_to "About us", about_path %>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 h-100 text-center text-lg-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>        
      </div>
    </div>
  </div>
  -->
  <div class="intro">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <h2 class="intro-header">Contact</h2>
          <p><i class="fas fa-map-marker-alt" id="fourteen"></i>地址：屏東縣內埔鄉豐田村興中一巷15號</p>
          <p><i class="fas fa-phone-alt" id="ten"></i>電話：(08)7785588</p>
          <p><i class="fa fa-fax" id="ten"></i>傳真：(08)7785599</p>
          <p><i class="fas fa-envelope" id="ten"></i>信箱：test@example.com</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.721695421282!2d120.55078551541902!3d22.626865536677904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e22eaec9f8137%3A0x4d25f8108fbd79dd!2zOTEy5bGP5p2x57ij5YWn5Z-U6YSJ6IiI5Lit5LiA5be3MTXomZ8!5e0!3m2!1szh-TW!2stw!4v1612238442791!5m2!1szh-TW!2stw" width="400" height="300" frameborder="0" style="border:0;margin-bottom:1rem;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-lg-3">
          <h2 class="intro-header">Series</h2>
          <p><i class="fab fa-envira" id="ten"></i><%= link_to "冷凍冷藏展示櫃系列", showcases_path, class: "series" %></p>
          <p><i class="fab fa-envira" id="ten"></i><%= link_to "不鏽鋼工作台系列", workbenches_path, class: "series" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="supplier">
    <div class="container">
      <h2 class="supplier-header">Supplier</h2>
    <div class="row">
      <div class="col-lg-4" id="column">
        <h3 class="text-center" id="area">North</h3>
        <p><i class="fas fa-building" id="twelve"></i>經銷商：速豪開發有限公司</p>
        <p><i class="fas fa-map-marker-alt" id="fourteen"></i>地址：新北市樹林區八德街226之6號</p>
        <p><i class="fas fa-phone-alt" id="ten"></i>電話：(02)86851100</p>
        <p><i class="fa fa-fax" id="ten"></i>傳真：(04)86852211</p>
        <p><i class="fas fa-address-card" id="ten"></i>網站：<a href="http://super-freezer.com/" target="_blank">http://super-freezer.com<a></p>
        <hr class="line">
        <p><i class="fas fa-building" id="twelve"></i>經銷商：商錄有限公司</p>
        <p><i class="fas fa-map-marker-alt" id="fourteen"></i>地址：新竹縣竹北市新港二街166號</p>
        <p><i class="fas fa-phone-alt" id="ten"></i>電話：(03)5565567</p>
        <p><i class="fa fa-fax" id="ten"></i>傳真：(03)5565767</p>
        <p><i class="fas fa-address-card" id="ten"></i>網站：<a href="http://www.shangluh.com.tw/" target="_blank">http://www.shangluh.com.tw/<a></p>
      </div>
      <div class="col-lg-4" id="column">
        <h3 class="text-center" id="area">West</h3>
        <p><i class="fas fa-building" id="twelve"></i>經銷商：國喬股份有限公司</p>
        <p><i class="fas fa-map-marker-alt" id="fourteen"></i>地址：台中市北屯區廍子巷29-10號</p>
        <p><i class="fas fa-phone-alt" id="ten"></i>電話：(04)22395500</p>
        <p><i class="fa fa-fax" id="ten"></i>傳真：(04)22397700</p>
        <p><i class="fas fa-address-card" id="ten"></i>網站：<a href="https://www.kwo-chiao.com.tw/" target="_blank">https://www.kwo-chiao.com.tw</a></p>
      </div>
      <div class="col-lg-4" id="column">
        <h3 class="text-center" id="area">South</h3>
        <p><i class="fas fa-building" id="twelve"></i>經銷商：華勝商店設備有限公司</p>
        <p><i class="fas fa-map-marker-alt" id="fourteen"></i>地址：臺南市安南區同安路262巷7號</p>
        <hr class="line">
        <p><i class="fas fa-building" id="twelve"></i>經銷商：邦勝冷凍設備有限公司</p>
        <p><i class="fas fa-map-marker-alt" id="fourteen"></i>地址：高雄市前鎮區瑞田街74號</p>
        <p><i class="fas fa-phone-alt" id="ten"></i>電話：(07)8231177</p>
        <p><i class="fa fa-fax" id="ten"></i>傳真：(07)8231176</p>
      </div>
    </div>
    </div>
  </div>
    
  <div class="copyright">
    <p class="copyright-line">Copyright &copy; 2021 ChiMao Freezer Equipment Manufacture Co., Ltd. All Rights Reserved.</p>
  </div>
</footer>