<div class="container p-0 header-area">
  <div class="site-branding col-lg-6">
    <h1 class="site-title">
      <a href="<%= root_path %>"><%= image_tag('/Datetime.png') %>ChiMao <span> Freezer Equipment Co., Ltd.</span></a>
    </h1>
  </div>
  <div class="col-lg-6"></div>
</div>