<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ornare eleifend. Nunc eget enim a ex posuere consectetur. Curabitur efficitur, eros eget maximus consequat, risus elit ullamcorper ex, at hendrerit velit dolor in nunc. Maecenas vel metus imperdiet, dapibus ex vel, laoreet massa. Duis vehicula a metus ac tincidunt. Vestibulum libero tellus, dapibus id lectus sit amet, laoreet feugiat mauris. Proin eget nisi nec elit cursus dapibus lacinia eget lectus. Aliquam eget lacus vitae elit porta congue.</p>

<p>Aliquam erat volutpat. Praesent at felis at magna luctus dignissim. Nam in tortor sodales, sagittis odio quis, maximus nunc. Nulla nec tristique odio. Morbi eu ante est. Aenean purus lorem, interdum eu ultrices vitae, commodo ac nisi. Integer in massa eleifend quam convallis elementum id nec erat. Nulla facilisi. Maecenas vel pretium metus. Vivamus eu nibh sed neque commodo accumsan. Curabitur vel nunc vel orci gravida rhoncus. Suspendisse potenti. Cras at sodales sem, vel scelerisque dolor.</p>

<p>Proin vitae pulvinar risus, a cursus lacus. Maecenas condimentum libero in magna bibendum, vitae eleifend lectus placerat. Praesent ac mi pulvinar, sollicitudin est eu, condimentum elit. Nam tellus justo, congue ac fermentum auctor, malesuada quis mauris. Sed quis feugiat mi, in ultricies sem. Morbi cursus finibus ante nec fermentum. Ut malesuada mi vel nisl bibendum vulputate. Praesent dui nisl, lacinia a commodo sed, maximus a erat. Donec iaculis hendrerit enim, sollicitudin aliquam diam imperdiet in. Sed convallis sapien velit, ac auctor lectus iaculis accumsan. Pellentesque sollicitudin dolor non ipsum sagittis interdum.</p>
<div style="padding: 1em 0em;">
	<h3 class="info"><i class="fab fa-artstation"></i> Company Infomation</h3>
	<table class="table table-borderless">
			<tr>
				<th style="width: 30%;">Year</th>
				<th>1995</th>
			</tr>
			<tr>
				<th>Type</th>
				<td>refrigerator</td>
			</tr>
			<tr>
				<th>Production</th>
				<td>Freezer&WorkBench</td>
			</tr>
			<tr>
				<th>Location</th>
				<td>Taiwan</td>
			</tr>
	</table>
	<h3 class="info"><i class="fab fa-artstation"></i> Contact Infomation</h3>
	<table class="table table-borderless">
			<tr>
				<th style="width: 30%;">Contact Person</th>
				<th>Office</th>
			</tr>
			<tr>
				<th>Address</th>
				<td>Pingtung</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>12345678</td>
			</tr>
			<tr>
				<th>Fax</th>
				<td>23456789</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>test@example.com</td>
			</tr>
			<tr>
				<th>Web</th>
				<td>localhost:3001</td>
			</tr>
			<tr>
				<th>Code</th>
				<td>732</td>
			</tr>
	</table>
</div>