<div class="row">
	<div class="col-lg-6">
	</div>
	<div class="col-lg-6">
		<h4 class="c"><i class="fas fa-cube" id="t"></i>ChiMao Freezer Equipment Manufacture Co., Ltd.</h4>
	</div>
	<div class="col-lg-6">
		<%= image_tag('/12.jpg', class: "w-100") %>
	</div>
	<div class="col-lg-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam ornare eleifend. Nunc eget enim a ex posuere consectetur. Curabitur efficitur, eros eget maximus consequat, risus elit ullamcorper ex, at hendrerit velit dolor in nunc. Maecenas vel metus imperdiet, dapibus ex vel, laoreet massa. Duis vehicula a metus ac tincidunt. Vestibulum libero tellus, dapibus id lectus sit amet, laoreet feugiat mauris. Proin eget nisi nec elit cursus dapibus lacinia eget lectus. Aliquam eget lacus vitae elit porta congue.</p>

		<p>Aliquam erat volutpat. Praesent at felis at magna luctus dignissim. Nam in tortor sodales, sagittis odio quis, maximus nunc. Nulla nec tristique odio. Morbi eu ante est. Aenean purus lorem, interdum eu ultrices vitae, commodo ac nisi. Integer in massa eleifend quam convallis elementum id nec erat. Nulla facilisi. Maecenas vel pretium metus. Vivamus eu nibh sed neque commodo accumsan. Curabitur vel nunc vel orci gravida rhoncus. Suspendisse potenti. Cras at sodales sem, vel scelerisque dolor.</p>
		
		<div class="info">
			<h5 class="info-header"><i class="fab fa-artstation"></i> Company Infomation</h5>
			<table class="table table-borderless">
					<tr>
						<th class="text-nowrap" id="w">Year</th>
						<td class="text-nowrap">1995</td>
					</tr>
					<tr>
						<th class="text-nowrap">Type</th>
						<td class="text-nowrap">refrigerator</td>
					</tr>
					<tr>
						<th class="text-nowrap">Production</th>
						<td class="text-nowrap">Freezer&WorkBench</td>
					</tr>
					<tr>
						<th class="text-nowrap">Location</th>
						<td class="text-nowrap">Taiwan</td>
					</tr>
			</table>
			<h5 class="info-header"><i class="fab fa-artstation"></i> Contact Infomation</h5>
			<table class="table table-borderless">
					<tr>
						<th class="text-nowrap" id="w">Contact Person</th>
						<td class="text-nowrap">Office</td>
					</tr>
					<tr>
						<th class="text-nowrap">Address</th>
						<td class="text-nowrap">Pingtung</td>
					</tr>
					<tr>
						<th class="text-nowrap">Phone</th>
						<td class="text-nowrap">12345678</td>
					</tr>
					<tr>
						<th class="text-nowrap">Fax</th>
						<td class="text-nowrap">23456789</td>
					</tr>
					<tr>
						<th class="text-nowrap">Email</th>
						<td class="text-nowrap">test@example.com</td>
					</tr>
					<tr>
						<th class="text-nowrap">Web</th>
						<td class="text-nowrap">localhost:3001</td>
					</tr>
					<tr>
						<th class="text-nowrap">Code</th>
						<td class="text-nowrap">732</td>
					</tr>
			</table>
		</div>
	</div>
</div>

