@import "bootstrap";
@import "pages";
@import "dropdown";
@import "modal.min";

body {
  font-family: 'Noto Serif TC', serif;
}

.main {
  font-size: 2em;
}

.buttons {
  padding-top: 20px;
}

.footer {
  height: 100px;
  width: 100%;
  margin-top: 20px;

  .intro {
    background-color: #3f4952;
    color:aliceblue;
    .series {
      text-decoration: none;
      color: #25dede;
    }
  }

  .supplier {
    background-color: #1d2124;
    color: aliceblue;
  }

  .copyright {
    background-color: #444242;
    padding: 1em;
    text-align: center;

    .copyright-line {
      color: #f8f9fa;
      margin-bottom: 0px;
      font-size: 0.8em;
    }
  }
}