@import "bootstrap";
@import "pages";
@import "standards";
@import "navbar";
@import "sidebar";
@import "products";
@import "messages";
@import "contacts";
@import "modal.min";

body {
  font-family: 'Noto Serif TC', serif;
}

.p {
  padding: 30px 0px;
}

.header-area {
  .site-branding {
    margin: 1.4vw 0vw;
    padding-left: 0px;
    @media (max-width: 992px) {
      text-align: center;
    }
    .site-title {
      font-size: 4vw;
      @media (min-width: 992px) {
        width: 10em;
      }
      a {
        color: #1e7e34;
        font-size: 3vw;
        &:hover {
          color: #1e7e34;
          text-decoration: none;
        }
        img {
          width: 6vw;
        }
        span {
          font-size: 1.5vw;
          color: #28a745;
        }
        @media (max-width: 992px) {
          font-size: 5vw;
          img {
            width: 8vw;
          }
          span {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

.navbar {
  @media (max-width: 992px) {
    display: none;
  }
}

#sidebar {
  @media (min-width: 992px) {
    display: none;
  }
}

.topName {
  font-family: 'Noto Serif TC';
  font-style: italic;
  font-size: 2em;
  color: #0062cc;
  &:hover {
    text-decoration: none;
  }
  @media (min-width: 992px) {
    display: none;
  }
}

#sf-menu li {
  background: #1d4d75;
  -webkit-transition: background .2s;
  transition: background .2s;
}

#sf-menu li:hover,
#sf-menu li.sfHover {
  background: #306a9a;
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}

#sf-menu li a {
  -webkit-transition: color .2s;
  transition: color .2s;
}

#sf-menu li:hover > a,
#sf-menu li.sfHover > a {
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}

.carousel {
  margin-bottom: 20px;
  #carousel-image {
    height: 50vh;
    @media (max-width: 992px) {
      height: 30vh;
    }
}
}

.footer {
  //height: 100%;
  width: 100%;
  margin-top: 20px;

  .intro {
    background-color: #3f4952;
    color:aliceblue;
    .intro-header {
      padding: 20px;
      text-align: center;
      color:#adb5bd;
    }
    .series {
      text-decoration: none;
      color: #25dede;
    }
  }

  .supplier {
    background-color: #1d2124;
    color: aliceblue;
    .supplier-header {
      text-align: center;
      text-decoration: underline;
      text-underline-offset: 1rem;
      text-decoration-color: #b37222;
      color: #545b62;
      padding: 30px;
    }
    #column {
      padding: 20px;
      #area {
        padding-bottom: 20px;
        color:#adb5bd;
      }
      .line {
        background-color: #494e52;
      }
    }
  }
  #ten {
    padding-right: 10px;
  }

  #twelve {
    padding-right: 12px;
  }

  #fourteen {
    padding-right: 14px;
  }

  .copyright {
    background-color: #444242;
    padding: 1em;
    text-align: center;

    .copyright-line {
      color: #b3b9bf;
      margin-bottom: 0px;
      font-size: 0.9rem;
    }
  }
}
