.dropfont {
  font-size: 1.5em;
}

.nav-item {
  padding-left: 1em;
  padding-right: 1em;
}

#dropdn-menu,
#sub-dropdn-menu,
#sub-dropdn-menu2 {
  background-color: #e9ecef;
  a {
    text-decoration: none;
  }
}

#dd {
  background-color: #e9ecef;
  padding-right: 7px;;
}

#dd:hover {
  color: #adb5bd;
}

#dropdn:hover #dropdn-menu {
  display: block;
}

#sub-dropdn:hover #sub-dropdn-menu {
  display: block;
}

#sub-dropdn2:hover #sub-dropdn-menu2 {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dropdown-menu li #sub-dropdn-menu2 li {
  border-bottom: 1px solid #b8bcc0;
  padding: 0.25rem 0;
}

.dropdown-menu li #sub-dropdn-menu2 li:last-child {
  border-bottom: none;
}

#dropdn-menu {
  margin-top: -4px;
}

#sub-dropdn-menu {
  margin-top: -9px;
  margin-left: 0px;
}

#sub-dropdn-menu2 {
  margin-top: -9px;
  margin-left: 0px;
}