#nav {
  background-color: #e9ecef;
  padding: 0px;

  .main {
    font-size: 2em;
    padding: 18px 0px;

    #nav-icon {
      width: 1.5em;
      height: 1.5em;
    }
  }

  #navTog {
    margin-top: 20px;
    margin-bottom: 26px;
    border: none;
  }

  .nav-item {
    padding: 0em 1em;
  }
}

.rowCat {
  width: 100%;
  margin: 0px;
}

.dropfont {
  font-size: 1.5em;
  padding: 1em 0em;
}


