// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.features-icons {
	padding-top: 7rem;
	padding-bottom: 7rem;
	background: #e9ecef;
	margin-bottom: 20px;
}

.features-icons .features-icons-item {
	max-width: 20rem
}

.features-icons .features-icons-item .features-icons-icon {
	height: 7rem
}

.features-icons .features-icons-item .features-icons-icon i {
	font-size: 4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i {
	font-size: 5rem
}

.mid-features {
	height:370px;
	
	.lastest-news {
		margin:2em 0em;
		text-align: center;
	}

	.news-content {
		color:#3b4146;
		padding-left: 20px;
		padding-right: 20px;
	}

	.news-time {
		color:#8f969c;
		padding-left: 20px;
		padding-right: 20px;
	}

	.new-product {
		margin-top:2em;
		margin-bottom:1.2em;
		text-align: center;
	}

	.item-top {
		padding-bottom:.8em;
		padding-left:30px;
		padding-right: 20px;
		color:#455c5d;
	}

	.item-body {
		color:#517475;
		padding-left: 20px;
		padding-right: 20px;
	}

	.read {
		float:right;
		margin-right:2em;
		&:hover {
			text-decoration: none;
		}
	}
}

.c {
	color: #6c757d;
}

#t {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 0.8em;
	color:rgb(0, 0, 0);
}

.on-pic {
	padding-bottom:15px;
}

.info {
	padding: 1em 0em;
	.info-header {
		border-top: 3px solid #495057;
		padding-top: 1em;
		padding-bottom: 0.5em;
		margin-bottom: 7px;
		border-bottom: 1px solid #adb5bd;
	}
	#w {
		width: 30%;
	}
}
