// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.features-icons {
	padding-top: 7rem;
	padding-bottom: 7rem
}

.features-icons .features-icons-item {
	max-width: 20rem
}

.features-icons .features-icons-item .features-icons-icon {
	height: 7rem
}

.features-icons .features-icons-item .features-icons-icon i {
	font-size: 4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i {
	font-size: 5rem
}

.c {
	color: #6c757d;
}

#t {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 0.8em;
	color:rgb(0, 0, 0);
}

.on-pic {
	padding-bottom:15px;
}

.info {
	padding: 1em 0em;
	.info-header {
		border-top: 3px solid #495057;
		padding-top: 1em;
		padding-bottom: 0.5em;
		margin-bottom: 7px;
		border-bottom: 1px solid #adb5bd;
	}
	#w {
		width: 30%;
	}
}
