// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-header {
	text-align: center;
	background-color: antiquewhite;
	padding: 30px;
	margin-bottom: 0px;
}

.c {
	color: #6c757d;
}

#t {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 0.8em;
	color:rgb(0, 0, 0);
}

.info {
	padding: 1em 0em;
	.info-header {
		border-top: 3px solid #495057;
		padding-top: 1em;
		padding-bottom: 0.5em;
		margin-bottom: 7px;
		border-bottom: 1px solid #adb5bd;
	}
	#w {
		width: 30%;
	}
}
