.multi .carousel-item.active,
.multi .carousel-item-next,
.multi .carousel-item-prev {
  display: flex;
}

.multi .carousel-item-right.active,
.multi .carousel-item-next {
  transform: translateX(50%);
}

.multi .carousel-item-left.active,
.multi .carousel-item-prev {
  transform: translateX(-50%);
}

@media (min-width: 768px) and (max-width: 992px) {

  .multi .carousel-item-right.active,
  .multi .carousel-item-next {
    transform: translateX(33.33%);
  }

  .multi .carousel-item-left.active,
  .multi .carousel-item-prev {
    transform: translateX(-33.33%);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .multi .carousel-item-right.active,
  .multi .carousel-item-next {
    transform: translateX(25%);
  }

  .multi .carousel-item-left.active,
  .multi .carousel-item-prev {
    transform: translateX(-25%);
  }
}

@media (min-width: 1200px) {

  .multi .carousel-item-right.active,
  .multi .carousel-item-next {
    transform: translateX(16%);
  }

  .multi .carousel-item-left.active,
  .multi .carousel-item-prev {
    transform: translateX(-16%);
  }
}

.multi .carousel-item-right,
.multi .carousel-item-left {
  transform: translateX(0);
}

.HotSeries {
  padding: 30px 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 147px;
  border-top: 2px solid #9a8e9a77;

  .Mul {
    padding-bottom: 30px;

    .HotProducts {
      padding: 30px 20px;
      color: #af676e;
    }

    .col-xl-2,
    .col-lg-3,
    .col-md-4,
    .col-6 {
      padding: 0px;

      a {
        color: #8b7a7b;
        font-size: 16px;
        padding: 10px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}