// Place all the styles related to the standards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.table th, .table td {
  vertical-align: middle;
}

.h {
  text-align: center;
}

.d {
  text-align: center;
  color: #505a63;
}