@media (min-width:992px) {

  #dropdn-menu,
  #sub-dropdn-menu,
  #sub-dropdn-menu2 {
    background-color: #e9ecef;

    a {
      text-decoration: none;
    }
  }

  .LinkT {
    background-color: #e9ecef;
    padding-right: 7px;

    #icon {
      float: right;
      margin-top: 6px;
      color: #1e7e34;
    }
  }

  #navbarContent li.nav-item:hover {
    background-color: #8e9296;
    color: #e9ecef;
  }

  #dropdn-menu li:hover>a {
    color: #31363c;
  }

  #dropdn:hover #dropdn-menu {
    display: block;
  }

  #sub-dropdn:hover #sub-dropdn-menu {
    display: block;
  }

  #sub-dropdn2:hover #sub-dropdn-menu2 {
    display: block;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .dropdown-menu li #sub-dropdn-menu2 li {
    border-bottom: 1px solid #b8bcc0;
    padding: 0.25rem 0;
  }

  .dropdown-menu li #sub-dropdn-menu2 li:last-child {
    border-bottom: none;
  }

  #dropdn-menu {
    margin-top: -4px;
  }

  #sub-dropdn-menu {
    margin-top: -9px;
    margin-left: 0px;
  }

  #sub-dropdn-menu2 {
    margin-top: -9px;
    margin-left: 0px;
  }

  #close {
    display: none;
  }

  .weBD {
    display: none;
  }

  .weBtg {
    display: none;
  }

  #subMenu_icon {
    float: right;
    margin-top: 4px;
    color: #1e7e34;
  }

  #divide {
    border-color: #b8bcc0;
  }
}